.pages-enter {
  opacity: 0.01;
}

.pages-enter.pages-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.pages-exit {
  opacity: 0;
}

.pages-exit.pages-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
