/* PROJECTS */

.project-row {
  width: 410px;
  height: auto;
  margin: 15% auto;
  vertical-align: middle;
}

.project-link {
  padding: 0px;
}

.project-img {
  margin: 0 auto;
  border-radius: 50%;
  height: 155px;
  }

.img-wrapper {
  display: inline-block;
  position: relative;
  padding: 0px 25px;
  width: 205px;
  height: 175px;
}

.project-text {
  text-align: center;
}

.project-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 85%;
}

.emphasis {
  color: #327D2A;
}
