/* Small-medium width tablets: iPad mini */

@media only screen and (min-width: 768px max-width: 1023px) {
  .home h1 {
    font-size: 300%;
  }

  .about-text {
    max-width: 450px;
  }

  .footer {
    font-size: 90%;
  }
}

/* Small phone screens*/

@media only screen and (max-width: 480px) {
  .home {
    max-height: 300px;
  }

  .home h1 {
    font-size: 250%;
  }

  .about-text {
    max-width: 350px;
  }

  .footer {
    font-size: 85%;
  }
}

/* Very narrow screens: iPhone 4, 5 and 5s */

@media only screen and (max-width: 320px) {
  .home h1 {
    font-size: 220%;
  }

  .about-text {
    max-width: 330px;
  }

  .footer {
    font-size: 85%;
  }
}
