@import url('https://fonts.googleapis.com/css?family=Raleway:300|Muli:300,400');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
  height: 100%;
}

#children {
  position: relative;
}

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
    url(../img/website-bg.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-color: #000;
    color: #fefefe;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.transition {
    transition: all 0.05s linear;
}

.icon {
  display: block;
}

/* ANIMATIONS */

@keyframes opacity_animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes line_animation {
  from { width: 0px; }
  to { width: 300px; }
}


/* CANVAS */
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -999;
  animation-name: opacity_animation;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}


/* HOME */

.home {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  height: 540px;
  width: 640px;
  animation-name: opacity_animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  opacity: 100%;
}


.home h1 {
  font-family: 'Raleway', sans-serif;
  transform: scaleY(0.97);
  letter-spacing: 2px;
  color: #fcfcfc;
  font-weight: 300;
  font-size: 430%;
  text-transform: uppercase;
}

.home h1::after {
  display: block;
  height: 1px;
  background-color: #A3548B;
  content: '';
  width: 300px;
  animation-name: line_animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  margin: 35px auto 20px auto;
}

.home h2 {
  font-weight: 300;
  color: #fcfcfc;
  padding: 19px;
  font-size: 130%;
}

.about-text {
  margin: 0px auto 50px auto;
  vertical-align: middle;
  text-align: justify;
  font-size: 95%;
  width: 630px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.green {
  color: #79B773;
  font-weight: 400 !important;
}

.blue {
  color: #49ACFE;
  font-weight: 400 !important;
}

.purple {
  color: #A673A8;
  font-weight: 400 !important;
}

.home button {
  font-family: 'Raleway';
  color: #fcfcfc;
  outline: none;
  border: 1px solid #FCFCFC;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 100%;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 2px;
}

.home button:hover {
  color: #A673A8;
  border-color: #A673A8;
  cursor: pointer;
}

/* PROJECTS */

.project-row {
  width: 410px;
  height: auto;
  margin: 15% auto;
  vertical-align: middle;
}

.project-link {
  padding: 0px;
}

.project-img {
  margin: 0 auto;
  border-radius: 50%;
  height: 155px;
  }

.img-wrapper {
  display: inline-block;
  position: relative;
  padding: 0px 25px;
  width: 205px;
  height: 175px;
}

.project-text {
  text-align: center;
}

.project-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 85%;
}

.emphasis {
  color: #327D2A;
}


/* FOOTER */

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.footer a {
  font-size: 200%;
  outline: 0;
  display: inline-block;
  color: #FEFEFE;
  text-decoration: none;
  padding: 30px 15px 15px 15px;
}

.footer a:hover,
.footer a.selected {
  color: #79B773;
}

.footer .git:hover {
  color: #917CAF;
}

.footer .linkedin:hover {
  color: #49ACFE;
}

.footer .mail:hover {
  color: #79B773;
}

/* NOT FOUND */
.notfound {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 40% auto;
  padding-top: 12.5%;
}

.notfound h2 {
  font-weight: 300;
  color: #fcfcfc;
  padding: 19px;
  font-size: 130%;
}
