@import url('https://fonts.googleapis.com/css?family=Raleway:300,700|Muli:300,400');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
  min-height: 100%;
}

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
    url(../img/website-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #02111B;
    color: #fcfcfc;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100%;
    text-align: center;
}

/* ANIMATIONS */

@keyframes opacity_animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes line_animation {
  from { transform: scaleX(0); }
  to { transform: scaleX(300); }
}

@keyframes line_animation2 {
  from { transform: scaleX(0); }
  to { transform: scaleX(250); }
}

/* GENERAL */
.children {
  min-height: 100%;
  margin-bottom: 0px;
}

.main {
  margin: auto;
  position: relative;
  min-height: calc(100vh - 105px);
  width: 640px;
  animation-name: opacity_animation;
  animation-duration: 1.75s;
  animation-timing-function: ease-in;
  opacity: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: 'Raleway';
  color: #fcfcfc;
  outline: none;
  border: 1px solid #fcfcfc;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 100%;
  margin: 0px 15px 30px 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.05s ease-out;
  -webkit-transition: all 0.05s ease-out;
}

/* CANVAS */
#canvas {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -100;
  animation-name: opacity_animation;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

/* HOME */
h1 {
  font-family: 'Raleway', sans-serif;
  transform: scaleY(0.97);
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 430%;
  text-transform: uppercase;
}

h1::after {
  display: block;
  height: 1px;
  background-color: #A3548B;
  content: '';
  width: 1px;
  transform: scaleX(300);
  animation-name: line_animation;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  margin: 35px auto 20px auto;
}

.home h2 {
  font-weight: 300;
  padding: 19px;
  font-size: 130%;
}

.about-text {
  margin: 0px auto 45px auto;
  vertical-align: middle;
  text-align: justify !important;
  font-size: 95%;
  width: 630px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.green, .blue, .purple {
  font-weight: 400 !important;
}

.green {
  color: #79B773;
}

.blue {
  color: #49ACFE;
}

.purple {
  color: #A673A8;
}

.button-blue:hover {
  color: #49ACFE;
  border-color: #49ACFE;
}

.button-purple:hover {
  color: #A673A8;
  border-color: #A673A8;
}

/* PROJECTS */
.projects {
  padding-top: 30px;
  height: 100%;
  width: 900px;
}

.projects h1 {
  font-size: 350%;
}

.projects h1:after {
  background-color: #49ACFE;
  height: 1px;
  width: 1px;
  transform: scaleX(250);
  animation-name: line_animation2;
  animation-duration: 1.25s;
  margin: 35px auto 15px auto;
}

.projects a {
  margin: 50px auto 0px auto;
  max-width: 110px;
  text-decoration: none;
  color: #fcfcfc;
}

.projects button {
  margin: 0px;
}

.project-box {
  overflow: hidden;
  font-family: 'Raleway';
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  margin: 30px 20px 0px 20px;
  width: 370px;
  height: 190px;
  background: rgba(0,0,0,0.2);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.project-span {
  display: block;
}

.project-box::before, .project-box::after {
  content:'';
  width: 1px;
  height: 2px;
  transform: scaleX(0);
  position: absolute;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  background: #fcfcfc;
}

.project-span::before, .project-span::after {
  content:'';
  width: 2px;
  height: 1px;
  transform: scaleY(0);
  position: absolute;
  transition: all 0.2s linear;
  background: #fcfcfc;
}

.project-box:hover::before, .project-box:hover::after {
  transform: scaleX(740);
}

.project-box:hover .project-span::before, .project-box:hover .project-span::after {
  transform: scaleY(380);
}

.project-box::before {
  right: 0; top: 0;
}

.project-box::after {
  left: 0; bottom: 0;
}

.project-box span::before {
  left: 0; top: 0;
}

.project-box span::after {
  right: 0; bottom: 0;
}

.project-box span::before, .project-box span::after,
.project-box:hover::before, .project-box:hover::after {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.project-box::before, .project-box::after,
.project-box:hover span::before, .project-box:hover span::after {
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.project-name {
  font-weight: 700;
  font-size: 120%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding-top: 80px;
  transition: 0.35s;
  -webkit-transition: 0.35s;
}

.project-name:after {
  display: block;
  height: 1px;
  background-color: #79B773;
  content: '';
  width: 1px;
  transform: scaleX(0);
  margin: 20px auto 10px auto;
  transition: 0.15s;
  -webkit-transition: 0.15s;
}

.caption {
  width: 340px;
  font-size: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  opacity: 0;
  padding-bottom: 0px;
  transition: 0.35s;
  -webkit-transition: 0.35s;
}

.project-box:hover .project-name {
  -webkit-transform:translate3d(0,-40px,0);
  transform:translate3d(0,-40px,0);
}

.project-box:hover .project-name:after {
  transform: scaleX(175);
  opacity: 1;
  transition: 0.4s;
}

.project-box:hover .caption {
  opacity: 1;
  -webkit-transform:translate3d(0,-35px,0);
  transform:translate3d(0,-35px,0);
}

.link-box {
  height: 100%;
  width: 100%;
}

.aya::after, .cannon::after, .latex::after, .trendcast::after {
  content: "";
  background-position: center !important;
  background-size: cover !important;
  opacity: 0.35;
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.aya::after {
  background-image: url('../img/aya.jpg');
}

.cannon::after {
  background-image: url('../img/cannon.jpg');
}

.latex::after {
  background-image: url('../img/messenger-latex.jpg');
}

.trendcast::after {
  background-image: url('../img/trendcast.jpg');
}

.project-box:hover .aya::after, .project-box:hover .latex::after,
.project-box:hover .cannon::after, .project-box:hover .trendcast::after {
  opacity: 0.7;
}

/* FOOTER */

.footer {
  position: relative;
  bottom: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  height: 105px;
}

.footer a {
  font-size: 200%;
  outline: 0;
  display: inline-block;
  color: #fcfcfc;
  text-decoration: none;
}

.footer .icon {
  display: block;
  padding: 0px 15px;
}

.footer .git:hover {
  color: #917CAF;
}

.footer .linkedin:hover {
  color: #49ACFE;
}

.footer .mail:hover {
  color: #79B773;
}

/* NOT FOUND */
.notfound h2 {
  font-weight: 300;
  padding: 19px;
  font-size: 170%;
}
