@import url('https://fonts.googleapis.com/css?family=Raleway:300:400|Muli:300,400,600');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, html{
  height: 100%;
}

html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
    url(../img/website-bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-color: #000;
    color: #fefefe;
    font-family: 'Muli', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.children {
  margin-bottom: -150px;
}

.icon {
  display: block;
}

/* ANIMATIONS */

@keyframes opacity_animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes line_animation {
  from { width: 0px; }
  to { width: 300px; }
}

@keyframes line_animation2 {
  from { width: 0px; }
  to { width: 250px; }
}

@keyframes project_line_animation {
  from { width: 0px; opacity: 0; }
  to { width: 175px; opacity: 1; }
}

@keyframes caption_animation {
  from { padding-bottom: 0px; opacity: 0; }
  to { padding-bottom: 40px; opacity: 1; }
}

/* GENERAL */

.main {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  height: 540px;
  width: 640px;
  animation-name: opacity_animation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  opacity: 100%;
}

button {
  font-family: 'Raleway';
  font-weight: 400;
  color: #fcfcfc;
  outline: none;
  border: 1px solid #FCFCFC;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 100%;
  margin: 0px 15px 30px 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.05s ease-out;
}

/* CANVAS */
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -999;
  animation-name: opacity_animation;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

/* HOME */
h1 {
  font-family: 'Raleway', sans-serif;
  transform: scaleY(0.97);
  letter-spacing: 2px;
  color: #fcfcfc;
  font-weight: 300;
  font-size: 430%;
  text-transform: uppercase;
}

h1::after {
  display: block;
  height: 1px;
  background-color: #A3548B;
  content: '';
  width: 300px;
  animation-name: line_animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  margin: 35px auto 20px auto;
}

.home h2 {
  font-weight: 300;
  color: #fcfcfc;
  padding: 19px;
  font-size: 130%;
}

.about-text {
  margin: 0px auto 45px auto;
  vertical-align: middle;
  text-align: justify;
  font-size: 95%;
  width: 630px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.green {
  color: #79B773;
  font-weight: 400 !important;
}

.blue {
  color: #49ACFE;
  font-weight: 400 !important;
}

.purple {
  color: #A673A8;
  font-weight: 400 !important;
}

.button-blue:hover {
  color: #49ACFE;
  border-color: #49ACFE;
}

.button-purple:hover {
  color: #A673A8;
  border-color: #A673A8;
}

/* PROJECTS */
.projects {
  margin-top: 125px;
  height: 700px;
  width: 900px;
}

.projects h1 {
  font-size: 350%;
}

.projects h1:after {
  background-color: #A673A8;
  height: 1px;
  width: 250px;
  animation-name: line_animation2;
  animation-duration: 1.25s;
  margin: 20px auto 25px auto;
}

.projects a {
  text-decoration: none;
  color: #fcfcfc;
}

.btn {
  font-family: 'Raleway';
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  border: none;
  color: #fcfcfc;
  cursor: pointer;
  margin: 15px 20px !important;
  width: 370px;
  height: 190px;
  background: rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project-span {
  display: block;
}

.project-name {
  font-size: 110%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 80px;
  transition: 0.3s;
}

.project-name:after {
  display: block;
  height: 1px;
  background-color: #79B773;
  content: '';
  width: 0px;
  margin: 20px auto 15px auto;
  opacity: 0;
  transition: 0.1s linear;
}

.caption {
  width: 340px;
  font-size: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding-bottom: 0px;
  transition: all 0.2s linear;
}

.btn::before, .btn::after {
  content:'';
  width: 0px;
  height: 1px;
  position: absolute;
  transition: all 0.25s linear;
  background: #49ACFE;
}

.project-span::before, .project-span::after {
  content:'';
  width:1px;
  height: 0px;
  position: absolute;
  transition: all 0.25s linear;
  background: #49ACFE;
}

.btn:hover::before, .btn:hover::after {
  width: 100%;
}

.btn:hover .project-span::before, .btn:hover .project-span::after {
  height: 100%;
}

.btn::before {
  right: 0;
  top: 0;
}

.btn::after {
  left: 0;
  bottom: 0;
}

.btn span::before {
  left: 0;
  top: 0;
}

.btn span::after {
  right: 0;
  bottom: 0;
}

.btn span::before, .btn span::after, .btn:hover::before, .btn:hover::after {
  transition-delay: 0.2s;
}

.btn::before, .btn::after,
.btn:hover span::before, .btn:hover span::after {
  transition-delay: 0s;
}

.link-box {
  height: 100%;
  width: 100%;
}

.btn:hover .project-name {
  padding-top: 30px;
}

.btn:hover .project-name:after {
  width: 175px;
  opacity: 1;
  animation-name: project_line_animation;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
}

.btn:hover .caption {
  padding-bottom: 40px;
  opacity: 1;
  animation-name: caption_animation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.homelink {
  margin-top: 25px;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: 100px;
}

.footer a {
  font-size: 200%;
  outline: 0;
  display: inline-block;
  color: #fcfcfc;
  text-decoration: none;
  padding: 40px 15px 15px 15px;
}

.footer .git:hover {
  color: #917CAF;
}

.footer .linkedin:hover {
  color: #49ACFE;
}

.footer .mail:hover {
  color: #79B773;
}

/* NOT FOUND */
.notfound h2 {
  font-weight: 300;
  color: #fcfcfc;
  padding: 19px;
  font-size: 170%;
}
